name: CI/CD

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Use Node.js 16
      uses: actions/setup-node@v4
      with:
        node-version: '16'

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Build and Push Docker Images
      run: |
        docker build -t sarvagyaagrawal/ems-frontend:latest ./fullstack-front
        docker build -t sarvagyaagrawal/ems-backend:latest ./backend
        docker login -u sarvagyaagrawal -p ${{ secrets.DOCKER_PASSWORD }}
        docker push sarvagyaagrawal/ems-frontend:latest
        docker push sarvagyaagrawal/ems-backend:latest

