version: '3'

services:
  fullstack-front:
    build:
      context: ./fullstack-front
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"

